.container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.status{
    background-color: white;
    border-radius: var(--border-radius-lg);
    padding: 20px 20px;
}

.title{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xl);
    font-family: var(--font-manrope);
    margin-bottom: 40px;
}

.containerTasks{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.containerTitle{
    display: flex;
    align-items: start;
    gap: 5px;
}

@media(max-width: 768px){
    .container{
        grid-template-columns: 1fr;
    }

    .containerTasks{
        align-items: center;
    }
}

@media(max-width: 480px){
    .container{
        grid-template-columns: 1fr;
    }

    .containerTasks{
        align-items: center;
    }
}
