.container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
}

.buttonCreate{
    height: 50px;
    width: 180px;
}

.h1{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xl);
    margin-bottom: 20px;
}

.containerProject{
    width: 100%;
}

.containerTopBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

@media(max-width: 768px){
    .container{
        padding-left: 30px;
        padding-right: 30px;
    }
}
