.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    background-color: var(--grey-light);
    border-radius: var(--radius-xl);
}
