.container{
    margin-top: 100px;
    width: 100%;
}

.containerTopBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.buttonCreate{
    width: 180px;
    height: 50px;
}

.h1{
font-weight: var(--font-weight-medium);
font-size: var(--font-size-xl);
margin-bottom: 10px;
}

.containerChoicePrint{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.buttonChoice{
    background-color: white;
    color: var(--orange-dark);
    height: 45px;
    width: 95px;
    display: flex;
    justify-content: space-around;
}

.activeButton{
    background-color: var(--orange-light);
}

@media(max-width: 768px){
    .container{
        padding: 0 50px;
    }
}

@media(max-width: 480px){
    .container{
        margin-top: 20px;
    }

    .containerTopBar{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .containerTitle{
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .txtTitle{
        text-align: center;
    }

    .containerChoicePrint{
        justify-content: center;
    }


}
