.container{
    margin-top: 100px;
    width: 100%;
}

.containerTopBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.buttonCreate{
    width: 180px;
    height: 50px;
}

.h1{
font-weight: var(--font-weight-medium);
font-size: var(--font-size-xl);
margin-bottom: 10px;
}

.containerChoicePrint{
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.buttonChoice{
    background-color: white;
    color: var(--orange-dark);
    height: 45px;
    width: 95px;
    display: flex;
    justify-content: space-around;
}

.activeButton{
    background-color: var(--orange-light);
}



