.container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: fit-content;
    border-radius: var(--radius-xl);
    padding: 4px 16px;
}

.todo{
    color: var(--red);
    background-color: var(--red-light);
}

.inProgress{
    color: var(--orange);
    background-color: var(--orange-medium);
}

.done{
    color: var(--green);
    background-color: var(--green-light);
}

.owner{
    color: var(--orange-dark);
    background-color: var(--orange-light);
}

.user{
    color: var(--grey);
    background-color: var(--grey-light);
}

.label{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-md);
}
