.long{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 160px;
    width: 100%;
    padding: 20px;
    border: 1px solid var(--grey-light);
    border-radius: var(--radius-lg);
}

.carre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300px;
    width: 370px;
    border: 1px solid var(--grey-light);
    border-radius: var(--radius-lg);
    padding: 15px 20px;
}

.containerInfoProject{
    display: flex;
    gap: 10px;
    align-items: center;
}

.containerInfoProjectCarre{
    grid-column-start: 1;
    grid-column-end: 3;
}

.buttonSize{
    height: 50px;
    width: 120px;
}

.buttonSeeTasks{
    justify-self: end;
    align-self: end;
}

.buttonSeeTasksCarre{
    justify-self: start;
    align-self: start;
}

.labelSize{
    height: 25px;
    width: auto;
}

.label{
    justify-self: end;
    align-self: flex-start;
}

.labelCarre{
    justify-self: end;
    align-self: flex-start;
}

.txtGrey{
    color: var(--grey);
}

.h3{
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xl);
    margin-bottom: 10px;
}

.description{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
}

.infoProjectFont{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-sm);
}

@media(max-width: 768px){
    .long{
        height: auto;
    }
}

@media(max-width: 480px){
    .long{
        grid-template-columns: 1fr;
        place-items: center;
        gap: 20px;
    }

    .label{
        place-self: center;
    }

    .buttonSeeTasks{
        place-self: center;
    }
}
